<div class="breadcrumb-wrapper">
    <a href="/" class="breadcrumb">Home</a>
    <a href="/admin" class="breadcrumb">Admin</a>
    <a class="breadcrumb">Questions</a>
</div>

<div class="row">
    <div class="col s12">
        <div class="card-panel">

            <table class="striped">
                <thead>
                <tr>
                    <th>Select</th>
                    <th>Question</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>

                {{#each questions}}
                    <tr>
                        <td>
                            <label>
                                <input type="checkbox" />
                                <span></span>
                            </label>
                        </td>
                        <td>{{this.text}}</td>
                        <td></td>
                    </tr>
                {{/each}}

                </tbody>
            </table>




        </div>
    </div>
</div>