<form id="final-registration-form" class="" action="/complete-profile" method="get">
  <input type="hidden" name="sesh" id="sesh" value="">
  <input type="hidden" name="firstname" id="firstname" value="">
  <input type="hidden" name="lastname" id="lastname" value="">
</form>
