<footer>

</footer>

<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        console.log("DOM content loaded!");
        var elems = document.querySelectorAll('.sidenav');
        M.Sidenav.init(elems);
    });
</script>
</body>
</html>
