<!DOCTYPE html>
<html>
<script type="text/javascript" src="/js/parse.min.js"></script>


{{> sole-config-frontend-js}}

{{> header}}

<body>

<main style="padding-left: 0px !important;">
  {{{body}}}
</main>

{{> footer}}

</body>
</html>
