<!DOCTYPE html>
<html>

{{> header}}

<body>

<main style="padding-left: 0px !important;">
  {{{body}}}
</main>

{{> footer}}
<script type="text/javascript" src="https://unpkg.com/parse@1.11.1/dist/parse.min.js"></script>

{{> sole-config-frontend-js}}
<meta name="google-signin-client_id" content="824307770319-v35co4sbfui42q2a93hcccvk68hfpam7.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script type="text/javascript" src="/js/login.js"></script>


</body>
</html>
