<!DOCTYPE html>
<html>

{{> header}}

<body>

<main>
  {{{body}}}
</main>

{{> footer}}
<script type="text/javascript" src="https://npmcdn.com/parse/dist/parse.min.js"></script>
<script type="text/javascript" src="/js/sole-config.js"></script>
<script type="text/javascript" src="/js/login.js"></script>

</body>
</html>
