<div class="breadcrumb-wrapper">
    <a href="/?sesh={{sesh}}" class="breadcrumb">Home</a>
    <a class="breadcrumb">Admin</a>
</div>

<div class="row">
    <div class="col m12 l10 offset-l1">
        <div class="card-panel">
            <div data-type="AwesomeTableView" data-viewID="-LQJRGnSRSkM8ph9JXrT"></div>
        </div>
    </div>
</div>


<script src="https://awesome-table.com/AwesomeTableInclude.js"></script>