<div class="row" style="padding-top:50px;">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel">


            <div class="row center-align">
                <video width="165" height="165" autoplay muted>
                    <source src="/images/logos/animated-logo-small.webm" type="video/webm">
                    <img src="/images/logos/question-square.png">
                </video>
            </div>

            <div class="row">

                <div class="input-field col s6">
                    <input id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select name="role">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="user.role.teacher">Teacher</option>
                        <option value="user.role.preservice_teacher">Pre-service Teacher</option>
                        <option value="user.role.administrator">Administrator</option>
                        <option value="user.role.coach">Coach</option>
                        <option value="user.role.out_of_school_educator">Out of School Educator</option>
                        <option value="user.role.parent">Parent</option>
                        <option value="user.role.other">Other</option>
                    </select>
                    <label>What's your primary role?</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <select multiple name="grade">
                        <option value="" disabled>Choose your option</option>
                        <option value="edu.pre-k">Preschool</option>
                        <option value="edu.k">Kindergarten</option>
                        <option value="edu.1">First Grade</option>
                        <option value="edu.2">Second Grade</option>
                        <option value="edu.3">Third Grade</option>
                        <option value="edu.4">Fourth Grade</option>
                        <option value="edu.5">Fifth Grade</option>
                        <option value="edu.6">Sixth Grade</option>
                        <option value="edu.7">Seventh Grade</option>
                        <option value="edu.8">Eighth Grade</option>
                        <option value="edu.9">Ninth Grade</option>
                        <option value="edu.10">Tenth Grade</option>
                        <option value="edu.11">Eleventh Grade</option>
                        <option value="edu.12">Twelfth Grade</option>
                    </select>
                    <label>What grade(s) do you teach?</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <select multiple name="subject">
                        <option value="" disabled>Choose your option</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    <label>What subject(s) do you teach?</label>
                </div>
            </div>

        </div>
    </div>
</div>
