
<div class="row" style="padding-top:50px;">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel">


            <div class="row center-align">
                <video width="165" height="165" autoplay muted>
                    <source src="/images/logos/animated-logo-small.webm" type="video/webm">
                    <img src="/images/logos/question-square.png">
                </video>
            </div>

          <form id="profile-update-form" action="/profile" method="post">

            <h1>SESH {{profile.sesh}}</h1>

              <input type="hidden" name="sesh" value="{{profile.sesh}}">
            <div class="row">
                <div class="input-field col s6">
                    <input id="first_name"
                           name="firstName"
                           type="text"
                           class="validate"
                           {{#if profile.user.firstName}}value="{{profile.user.firstName}}"{{/if}}
                    >
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name"
                           name="lastName"
                           type="text"
                           class="validate"
                           {{#if profile.user.lastName}}value="{{profile.user.lastName}}"{{/if}}
                    >
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select name="role">
                        {{#unless profile.user.role}}<option value="" disabled>Choose your option</option>{{/unless}}
                        <option value="profile.user.role.teacher" {{#ifEquals profile.user.role "profile.user.role
                                .teacher"}}selected{{/ifEquals}}>Teacher</option>
                        <option value="profile.user.role.preservice_teacher" {{#ifEquals profile.user.role "profile.user.role
                                .preservice_teacher"}}selected{{/ifEquals}}>Pre-service Teacher</option>
                        <option value="profile.user.role.administrator" {{#ifEquals profile.user.role "profile.user.role
                                .administrator"}}selected{{/ifEquals}}>Administrator</option>
                        <option value="profile.user.role.coach" {{#ifEquals profile.user.role "profile.user.role
                                .coach"}}selected{{/ifEquals}}>Coach</option>
                        <option value="profile.user.role.out_of_school_educator" {{#ifEquals profile.user.role "profile.user.role
                                .out_of_school_educator"}}selected{{/ifEquals}}>Out of School Educator</option>
                        <option value="profile.user.role.parent" {{#ifEquals profile.user.role "profile.user.role
                                .parent"}}selected{{/ifEquals}}>Parent</option>
                        <option value="profile.user.role.other" {{#ifEquals profile.user.role "profile.user.role
                                .other"}}selected{{/ifEquals}}>Other</option>
                    </select>
                    <label>What's your primary role?</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <select multiple name="grades">
                        {{#unless profile.user.grades}}<option value="" disabled>Choose your option</option>{{/unless}}
                        <option value="edu.pre-k"
                                {{#contains "edu.pre-k" profile.user.grades}}selected{{/contains}}
                        >Preschool</option>
                        <option value="edu.k" {{#contains "edu.k" profile.user.grades}}selected{{/contains}}
                        >Kindergarten</option>
                        <option value="edu.1" {{#contains "edu.1" profile.user.grades}}selected{{/contains}}
                        >First Grade</option>
                        <option value="edu.2" {{#contains "edu.2" profile.user.grades}}selected{{/contains}}
                        >Second Grade</option>
                        <option value="edu.3" {{#contains "edu.3" profile.user.grades}}selected{{/contains}}
                        >Third Grade</option>
                        <option value="edu.4" {{#contains "edu.4" profile.user.grades}}selected{{/contains}}
                        >Fourth Grade</option>
                        <option value="edu.5" {{#contains "edu.5" profile.user.grades}}selected{{/contains}}
                        >Fifth Grade</option>
                        <option value="edu.6" {{#contains "edu.6" profile.user.grades}}selected{{/contains}}
                        >Sixth Grade</option>
                        <option value="edu.7" {{#contains "edu.7" profile.user.grades}}selected{{/contains}}
                        >Seventh Grade</option>
                        <option value="edu.8" {{#contains "edu.8" profile.user.grades}}selected{{/contains}}
                        >Eighth Grade</option>
                        <option value="edu.9" {{#contains "edu.9" profile.user.grades}}selected{{/contains}}
                        >Ninth Grade</option>
                        <option value="edu.10" {{#contains "edu.10" profile.user.grades}}selected{{/contains}}
                        >Tenth Grade</option>
                        <option value="edu.11" {{#contains "edu.11" profile.user.grades}}selected{{/contains}}
                        >Eleventh Grade</option>
                        <option value="edu.12" {{#contains "edu.12" profile.user.grades}}selected{{/contains}}
                        >Twelfth Grade</option>
                    </select>
                    <label>What grade(s) do you teach?</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <select multiple name="subjects">
                        {{#unless profile.user.subjects}}<option value="" disabled>Choose your option</option>{{/unless}}
                        <option value="top.careereducation" {{#contains "top.careereducation" profile.user.subjects}}selected{{/contains}}>Career Education</option>
                        <option value="top.engineering" {{#contains "top.engineering" profile.user.subjects}}selected{{/contains}}>Engineering</option>
                        <option value="top.english" {{#contains "top.english" profile.user.subjects}}selected{{/contains}}>English</option>
                        <option value="top.englishlanguagedevelopment" {{#contains "top.englishlanguagedevelopment" profile.user.subjects}}selected{{/contains}}>English Language Development</option>
                        <option value="top.financialliteracy" {{#contains "top.financialliteracy" profile.user.subjects}}selected{{/contains}}>Financial Literacy</option>
                        <option value="top.foreignlanguage" {{#contains "top.foreignlanguage" profile.user.subjects}}selected{{/contains}}>Foreign Language</option>
                        <option value="top.health" {{#contains "top.health" profile.user.subjects}}selected{{/contains}}>Health</option>
                        <option value="top.libmedia-infolit" {{#contains "top.libmedia-infolit" profile.user.subjects}}selected{{/contains}}>Library Media / Information Literacy</option>
                        <option value="top.lifeskills" {{#contains "top.lifeskills" profile.user.subjects}}selected{{/contains}}>Life Skills</option>
                        <option value="top.math" {{#contains "top.math" profile.user.subjects}}selected{{/contains}}>Math</option>
                        <option value="top.physicaleducation" {{#contains "top.physicaleducation" profile.user.subjects}}selected{{/contains}}>Physical Education</option>
                        <option value="top.science" {{#contains "top.science" profile.user.subjects}}selected{{/contains}}>Science</option>
                        <option value="top.socialstudies" {{#contains "top.socialstudies" profile.user.subjects}}selected{{/contains}}>Social Studies</option>
                        <option value="top.technology" {{#contains "top.technology" profile.user.subjects}}selected{{/contains}}>Technology</option>
                        <option value="top.thearts" {{#contains "top.thearts" profile.user.subjects}}selected{{/contains}}>The Arts</option>
                    </select>
                    <label>What subject(s) do you teach?</label>
                </div>
            </div>
        <button type="submit" class="btn waves-effect waves-light" name="button">submit</button>
        </div>
      </form>

    </div>
</div>
