<div class="row" style="padding-top:50px;">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel">


            <div class="row center-align">
                <video width="165" height="165" autoplay muted>
                    <source src="/images/logos/animated-logo-small.webm" type="video/webm">
                    <img src="/images/logos/question-square.png">
                </video>
            </div>

            <div class="row">

                <div class="input-field col s6">
                    <input id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select name="role">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    <label>What's your primary role?</label>
                </div>
            </div>


            <div class="input-field col s12">
                <select multiple name="grade">
                    <option value="" disabled>Choose your option</option>
                    <option value="edu.pre-k">Preschool</option>
                    <option value="edu.k">Kindergarten</option>
                    <option value="edu.1">Grade 1</option>
                    <option value="edu.2">Grade 2</option>
                    <option value="edu.3">Grade 3</option>
                    <option value="edu.4">Grade 4</option>
                    <option value="edu.5">Grade 5</option>
                    <option value="edu.6">Grade 6</option>
                    <option value="edu.7">Grade 7</option>
                    <option value="edu.8">Grade 8</option>
                    <option value="edu.9">Grade 9</option>
                    <option value="edu.10">Grade 10</option>
                    <option value="edu.11">Grade 11</option>
                    <option value="edu.12">Grade 12</option>

                </select>
                <label>What grade(s) do you teach?</label>
            </div>

            <div class="input-field col s12">
                <select multiple name="subject">
                    <option value="" disabled>Choose your option</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
                <label>What subject(s) do you teach?</label>
            </div>

            dgfsf
        </div>
    </div>
</div>
