<div class="breadcrumb-wrapper">
    <a href="/?sesh={{sesh}}" class="breadcrumb">Home</a>
    <a href="/?sesh={{sesh}}" class="breadcrumb">Dashboard</a>
    <a class="breadcrumb">Question Approval</a>
</div>




<div class="row">
    <div class="col s12">
        <div class="card-panel">
            {{#if questions}}
            <ul class="collection">
                    {{#each questions}}
                        <li class="collection-item avatar">
                            <i class="material-icons circle">help</i>
                            <!--<img src="images/yuna.jpg" alt="" class="circle">-->
                            <span class="title">{{text}}</span>
                            <p>When was it submitted</p>
                            <div class="secondary-content">
                                <a href="approve"><i class="material-icons">thumb_up</i></a>
                                <a href="disapprove"><i class="material-icons">thumb_down</i></a>
                            </div>
                        </li>

                    {{/each}}
            </ul>
                {{else}}
all set!
            {{/if}}
        </div>
    </div>
</div>
