<h1>home page!</h1>

<h2>All soles</h2>
<ul>
{{#each soles}}
  <li>{{name}} by {{author}}</li>
{{/each}}
</ul>

<h2>all questions</h2>
<ul>
{{#each questions}}
  <li>{{name}} by {{author}}</li>
{{/each}}
</ul>
