<h1>StartSOLE Home Page!</h1>

<hr>

<h2>SOLEs</h2>
<ul>
{{#each soles}}
  <li>{{text}} by {{author}}</li>
{{/each}}
</ul>

<hr>

<h2>Questions</h2>
<h3>My questions:</h3>
<ul>
{{#each questions.mine}}
  <li>{{text}}</li>
{{/each}}
</ul>

<h3>My favorite questions:</h3>
<ul>
{{#each questions.favorites}}
  <li>{{text}}</li>
{{/each}}
</ul>
