<div class="row" style="padding-top:50px;">
    <div class="col s12 offset-m2 m8 offset-l3 l6">
        <div class="card-panel">
            <div class="row">
                <div class="col s12 l6 center">
                    <img src="/images/facebook-login-button.png" id="fb-login" onmouseover="this.src='/images/facebook-login-button-hover.png'" onmouseout="this.src='/images/facebook-login-button.png'"  />
                </div>
                <div class="col s12 l6 center">
                    <div id="google-sign-in" google-sign-in></div>
                </div>
            </div>
            <form id="login-form" action="/login" method="post">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                        <input id="email" type="email" name="email" class="validate">
                        <label for="email">Email</label>
                        <span class="helper-text" data-error="invalid email"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">security</i>
                        <input id="password" name="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="red-text" id="error"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 center">
                        <button type="submit" class="signin-db btn red waves-effect waves-light" id="login" onclick="function (e){e.preventDefault()}">Log In</button>
                    </div>
                </div>
                <div class="row">
                    <div class="center col s12">
                        Need an account? <a href="/register">Sign up here.</a>
                    </div>
                    <div class="center col s12">
                        <br>
                        <a data-target="password-reset-modal" class="modal-trigger">
                            Help! I forgot my password.
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="password-reset-modal">
    <div class="modal-content">
        <h4>Reset Password</h4>
        <p>Enter your email below and we'll send you a link to reset your password.</p>
        <div class="row">
            <div class="input-field col s12 m6 offset-m3">
                <input type="email" class="validate" id="password-reset-email"
                       ng-model="Login.password_reset_email">
                <label for="password-reset-email">
                    Email
                </label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-red btn-flat">
            Cancel
        </a>
        <a class="modal-action modal-close waves-effect waves-green btn-flat"
           ng-click="Login.sendPasswordReset()">
            Send Reset Email
        </a>
    </div>
</div>
<form id="foobar" action="/" method="get">
  <input type="hidden" name="token" id="token" value="">
</form>
