<div class="row" style="padding-top:50px;">
    <div class="col s12 offset-m2 m8 offset-l3 l6">
        <div class="card-panel">
            <div class="row center-align">
                <video width="165" height="165" autoplay muted>
                    <source src="/images/logos/animated-logo-small.webm" type="video/webm">
                    <img src="/images/logos/question-square.png">
                </video>
            </div>

            <div class="row center-align">

            <h4>
                {{#if errorMessage }}
                    {{errorMessage}}
                {{else}}
                    {{{__ "You're logged out!"}}}
                {{/if}}
            </h4>
            <p>
                <a href="/login" class="waves-effect waves-light btn">{{{__ "Log Back In"}}}</a>
            </p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/parse.min.js"></script>

<script src="https://apis.google.com/js/platform.js?onload=logoutOfGoogle" async defer></script>
<script type="text/javascript">
  function logoutOfGoogle () {
    gapi.load('auth2', function() {
      gapi.auth2.init({
        client_id: '824307770319-v35co4sbfui42q2a93hcccvk68hfpam7.apps.googleusercontent.com'
      }).then(data=>{
        gapi.auth2.getAuthInstance().signOut();
      })
    });
  }
</script>
{{> sole-config-frontend-js}}

<script type="text/javascript">
  // connect to parse server

  document.addEventListener("DOMContentLoaded", function() {
      Parse.initialize(soleConfig.appId);
      Parse.serverURL = soleConfig.serverUrl;
      Parse.User.logOut();
      document.cookie = "sessionToken=; Max-Age=0";//remove the sessionToken from the cookie
      document.cookie = "language=; Max-Age=0";//remove the language from the cookie

      localStorage.clear();
  });
</script>
