<div class="row" style="padding-top:50px;">
    <div class="col s12 offset-m2 m8 offset-l3 l6">
        <div class="card-panel">
            <div class="row">

            <h1>You're logged out!</h1>
            <p><a href="/login">Log back in</a></p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://unpkg.com/parse@1.11.1/dist/parse.min.js"></script>
<script type="text/javascript" src="/js/sole-config.js"></script>
<script type="text/javascript">
  Parse.User.logOut();
</script>
