<div class="row" style="padding-top:50px;">
    <div class="col s12 offset-m2 m8 offset-l3 l6">
        <div class="card-panel">
            <div class="row center-align">
                <video width="165" height="165" autoplay muted>
                    <source src="/images/logos/animated-logo-small.webm" type="video/webm">
                    <img src="/images/logos/question-square.png">
                </video>
            </div>

            <div class="row center-align">

            <h4>You're logged out!</h4>
            <p>
                <a href="/login" class="waves-effect waves-light btn">Log Back In</a>
            </p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://unpkg.com/parse@1.11.1/dist/parse.min.js"></script>

{{> sole-config-frontend-js}}
<script type="text/javascript">
  // connect to parse server
  Parse.initialize(soleConfig.appId);
  Parse.serverURL = soleConfig.serverUrl;
  Parse.User.logOut();
</script>
