<div class="breadcrumb-wrapper">
    <a href="/" class="breadcrumb">Home</a>
    <a class="breadcrumb">My Profile</a>
</div>

<div class="row">
    <div class="col s12">
        <div class="card-panel">
            <table>
                {{#each user}}
                    <tr>
                        <th>{{@key}}</th>
                        <td>{{this}}</td>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>
</div>