<div class="breadcrumb-wrapper">
    <a href="/" class="breadcrumb">Home</a>
    <a class="breadcrumb">My Profile</a>
</div>

<h1>Your Profile</h1>
<table>
  {{#each user}}
  <tr>
    <th>{{@key}}</th>
    <td>{{this}}</td>
  </tr>
  {{/each}}
</table>
