<a href="/">Home</a> > <a href="/">Questions</a> > <strong>{{text}}</strong><br>

<h1>{{text}}</h1>

<a href="/questions/{{id}}/favorite">Favorite this question</a> |
<a href="/questions/{{id}}/copy">Copy this question</a>
