<div class="breadcrumb-wrapper">
    <a href="/" class="breadcrumb">Home</a>
    <a class="breadcrumb">My SOLEs</a>
</div>


<div class="row">
    <div class="col s12">
        <div class="card-panel">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s4">
                            <a class="active" href="#planned">Planned{{#if planned}} ({{planned.length}}){{/if}}</a>
                        </li>
                        <li class="tab col s4 {{#unless reflect}}disabled{{/unless}}">
                            <a href="#reflect" {{#unless reflect}}onclick="M.toast({html: 'No SOLEs awaiting ' +
                             'reflection'})"{{/unless}}>
                                Reflect{{#if reflect}} ({{reflect.length}}){{/if}}
                            </a>
                        </li>
                        <li class="tab col s4 {{#unless completed}}disabled{{/unless}}">
                            <a href="#completed" {{#unless completed}}onclick="M.toast({html: 'No SOLEs completed...yet'})"{{/unless}}>
                                Completed{{#if completed}}({{completed.length}}){{/if}}
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="planned" class="col s12">
                    {{#if planned}}
                        {{#each planned}}
                            {{> sole-card}}
                        {{/each}}
                    {{/if}}
                </div>
                <div id="reflect" class="col s12">
                    {{#each reflect}}
                        {{> sole-card}}
                    {{/each}}
                </div>
                <div id="completed" class="col s12">
                    {{#each completed}}
                        {{> sole-card}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>