<h1>{{sole.question.text}}</h1>


<h3>Data from your SOLE session</h3>
<table class="striped responsive-table">
  {{#each sole}}
  <tr>
    <th>{{@key}}</th>
    <td>{{this}}</td>
  </tr>
  {{/each}}

</table>
