body {background-color: #f4f4f4}

nav {
    border-bottom: 1px solid lightgrey;
}

nav .brand-logo {
    position:fixed;
}

.sidenav span.badge {
    position: absolute;
}
.brand-logo {
    padding-right: 10px !important;
    font-size: 20px !important;
}

.app-download-links {
    width:100%;
    text-align: center;
    padding-top: 15px;
}

.app-download-links > a > img {
    width: 115px;
}

header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

/*Helper classes*/
.handy {
    cursor: pointer;
}

/*SOLE plan cards*/
.sole-card {
    min-height: 124px;
    position: relative;
}

.sole-card>.question-text {
    margin-left:80px;
    margin-right:70px;
    font-size: 18px;
}

.sole-card>.sole-tag {
    margin: 0 0 0 80px;
    color: #777;
    font-size: 16px;
}

.sole-card>.sole-action-buttons {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

@media screen and (max-width: 600px) {

    .sole-card>.question-text {
        margin-left:0;
    }

    .sole-card>.sole-tag {
        margin: 0;
    }

}

.sole-card-date {
    position: absolute !important;
    top: 10px;
    right: 10px;
    z-index: 3;
    padding-top: 5px;
    padding-bottom: 5px;
}

.avatar-image {
    position: absolute;
}

.sole-day {
    float: left;
    font-size: 36px;
    line-height: 30px;
    padding-right: 4px;
    padding-left: 3px;
    font-weight: 300;
}

.sole-month-year {
    float: right;
    font-size: 14px;
    line-height: 16px;
    padding-right: 7px;
    font-weight: 200;
}