<div class="card">
    <div class="card-content">
        <span class="card-title">
            <a href="/rings/{{ringId}}/soles-by-subject">
            {{{__ "SOLEs By Subject"}}}
            </a>
        </span>
        <canvas id="soles-by-subject-chart"></canvas>
    </div>
</div>

<script>
$(document).ready(function() {
    var solesBySubjectChartCanvas = document.getElementById('soles-by-subject-chart').getContext('2d');
    var solesBySubjectData = {
        datasets: [{
            data: [{{dashboard.userCountBySubjectBand}}],
            backgroundColor: ['#f44336','#673ab7','#03a9f4','#4caf50','#607d8b']
        }],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: [
            'English',
            'Math',
            'Science',
            'Social Studies',
            'Other'
        ]
    };
    var solesBySubjectChart = new Chart(solesBySubjectChartCanvas, {
        // The type of chart we want to create
        type: 'doughnut',

        // The data for our dataset
        data : solesBySubjectData,

        // Configuration options go here
        options: {}
    });
});
</script>